*.env*
.env.local
node_modules/
*.DS_Store
fake_server/
dist/
build/
Flutter/.dart_tool/dartpad/web_plugin_registrant.dart
Flutter/.dart_tool/package_config.json
Flutter/.dart_tool/package_config_subset
Flutter/.dart_tool/version
Flutter/.flutter-plugins
Flutter/.flutter-plugins-dependencies
Flutter/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
Flutter/android/local.properties
Flutter/ios/Flutter/flutter_export_environment.sh
Flutter/ios/Flutter/Generated.xcconfig
Flutter/ios/Runner/GeneratedPluginRegistrant.h
Flutter/ios/Runner/GeneratedPluginRegistrant.m
Flutter/linux/flutter/ephemeral/.plugin_symlinks/path_provider_linux
Flutter/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
Flutter/macos/Flutter/ephemeral/flutter_export_environment.sh
Flutter/windows/flutter/ephemeral/.plugin_symlinks/path_provider_windows
